<section class="table-container d-flex flex-d-col align-end">
  <section [class.table]="toggle" [class.table-small]="!toggle">
    <ion-grid>
      <ion-row class="d-flex justify-space-between">
        <div class="Actions">Actions</div>
        <div><a class="user-info">iD</a></div>
        <div><a class="user-info">Name</a></div>
        <div><a class="user-info">Surname</a></div>
        <div><a class="user-info">Country</a></div>
        <div><a class="user-info">E-mail</a></div>
        <div><a class="user-info">Age</a></div>
      </ion-row>

      <ion-row class="d-flex justify-space-between">
        <div class="checkbox d-flex justify-center">
          <ion-checkbox></ion-checkbox>
        </div>

        <div>2323224</div>
        <div>Andriy</div>
        <div>Megeden</div>
        <div>Ukraine</div>
        <div>Ukrain gmail.com</div>
        <div>19</div>
      </ion-row>
    </ion-grid>
  </section>
</section>
