.search {
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  color: var(--black);
  ion-input {
    border-radius: 10px;
    width: 100%;
    border: none;
    background-color: var(--white);
    --highlight-color-focused: none;
    --highlight-color: none;
    --padding-start: 10px !important;
  }
}

.table {
  .key-value {
    background-color: var(--white);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    .column {
      .user-info {
        color: var(--black);
        font-size: 22px;
        font-weight: bold;
      }
      .user-value {
        color: var(--black);
        font-size: 19px;
        font-weight: 300;
      }
      .buttons{
        .general{
          height: 35px;
        }
      }
    }
  }
}

.text-center{
  font-size: 30px;
  color: var(--black);
}