<div class="search w-100 m-b-20">
  <ion-input
    type="text"
    placeholder="search user by address"
    [(ngModel)]="searchStr"
  ></ion-input>
</div>

<!-- <div *ngIf="users.length; else loading"> -->
  <!-- якшо через ngrx то users$ | async -->
  <section
    class="table-container d-flex flex-d-col align-end table m-b-20"
                        
    *ngFor="let user of users | searchUser : searchStr; let idx = index" 
  > 
    <div class="key-value d-flex justify-space-between w-100 p-15">
      <div class="column d-flex flex-d-col justify-space-between t-center">
        <div><span class="user-info">iD</span></div>
        <div><span class="user-value">{{ idx + 1 }}</span></div>
      </div>
      <div class="column d-flex flex-d-col justify-space-between t-center">
        <div><span class="user-info">Name</span></div>
        <div><span class="user-value">{{ user.name }}</span></div>
      </div>
      <div class="column d-flex flex-d-col justify-space-between t-center">
        <div><span class="user-info">Surname</span></div>
        <div><span class="user-value">{{ user.surname }}</span></div>
      </div>

      <div class="column d-flex flex-d-col justify-space-between t-center">
        <div><span class="user-info">Adress</span></div>
        <div><span class="user-value">{{ user.adress }}</span></div>
      </div>

      <div class="column d-flex flex-d-col justify-space-between t-center">
        <div><span class="user-info">Telephone</span></div>
        <div><span class="user-value">{{ user.telephone }}</span></div>
      </div>
      
      <div class="column d-flex flex-d-col justify-space-between t-center">
        <div class="m-b-10"><span class="user-info">Buttons</span></div>
        <div class="buttons d-flex flex-d-col ">
          <ion-button class="general m-b-20" [routerLink]="['/user-edit', user.id]">edit</ion-button>
          <ion-button id="user-alert" class="general" (click)="openAlert(user.id)">Delete</ion-button> 
          <ion-alert
          [isOpen]="isAlertOpen"
          trigger="user-alert"
          header="Do you really want to delete?"
          [buttons]="alertButtons"
          (didDismiss)="setResult($event)"
          ></ion-alert>
        </div>
      </div>
    </div>

    <div *ngIf="(error$ | async) as error">
      <p *ngIf="error">Помилка завантаження: {{ error }}</p>
    </div>
  </section>
<!-- </div> -->

<!-- <ng-template #loading>
  <p class="text-center w-100 d-flex justify-center">loading...</p>
</ng-template> -->
