<section class="footer-container d-flex align-end d-flex justify-end">
  <div class="footer w-100 align-center d-flex justify-space-between">
    <!-- <div class="license p-15">
      <span>Created with ♥ by Akveo 2019. Made with Nebular.</span>
    </div> -->
    <!-- <div class="social-networks d-flex flex-d-row p-15">
      <a class="logo" href="#"><ion-icon class="p-5" name="logo-github"></ion-icon></a>
      <a class="logo" href="#"><ion-icon class="p-5" name="logo-instagram"></ion-icon></a>
      <a class="logo" href="#"><ion-icon class="p-5" name="logo-angular"></ion-icon></a>
      <a class="logo" href="#"><ion-icon class="p-5" name="logo-facebook"></ion-icon></a>
    </div> -->
  </div>
</section>
