<div *ngIf="formData">
 
<div class="wrapper w-100 d-flex justify-space-between">
  <div class="left">

  </div>
  <div class="right">
    <form [formGroup]="formData" (ngSubmit)="submitData()">
      <div class="title m-b-10 d-flex justify-center"><span>User data</span></div>
      <ion-list>
        <div class="user-data">
          <div class="about d-flex">
            <div class="input-name m-b-20 m-r-20 d-flex flex-d-col">
              <ion-item>
                <ion-input formControlName="name" label="Name"></ion-input>
              </ion-item>
              <div class="validator m-t-20 m-l-20" *ngIf="formData.get('name')?.invalid && formData.get('name')?.touched">
                <span *ngIf="formData.get('name')?.errors?.['required']">Це поле обов'язкове</span>
                <span *ngIf="formData.get('name')?.errors?.['minlength']">Мінімальна кількість символів 3</span>
              </div>
            </div>
            <div class="input-surname m-b-20">
              <ion-item>
                <ion-input formControlName="surname" label="Surname"></ion-input>
              </ion-item>
              <div class="validator  m-t-20 m-l-20" *ngIf="formData.get('surname')?.invalid && formData.get('surname')?.touched">
                <span *ngIf="formData.get('surname')?.errors?.['required']">Це поле обов'язкове</span>
                <span *ngIf="formData.get('surname')?.errors?.['minlength']">Мінімальна кількість символів 3</span>
              </div>
            </div>
           
          </div>
          <ion-item class="m-b-20">
            <ion-input  id="telephone" (keydown)="onPhoneInput($event)" formControlName="telephone" label="Telephone" type="tel"></ion-input>
          </ion-item>
          <div class="validator m-b-20 m-l-20" *ngIf="formData.get('telephone')?.invalid && formData.get('telephone')?.touched">
            <span *ngIf="formData.get('telephone')?.errors?.['required']">Номер телефону обов'язковий</span>
            <span *ngIf="formData.get('telephone')?.errors?.['pattern']">Некоректний формат номера</span>
          </div>
  
          <ion-item class="m-b-20">
            <ion-input formControlName="email" label="Email" type="email"></ion-input>
          </ion-item>

          <div class="validator m-b-20 m-l-20" *ngIf="formData.get('email')?.invalid && formData.get('email')?.touched">
            <span *ngIf="formData.get('email')?.errors?.['email']">Некоректний формат email</span>
          </div>
  
          <ion-item class="m-b-20">
            <ion-input formControlName="adress" label="Adress"></ion-input>
          </ion-item>
          <div class="validator m-b-20 m-l-20" *ngIf="formData.get('adress')?.invalid && formData.get('adress')?.touched">
            <span *ngIf="formData.get('adress')?.errors?.['required']">Адреса обов'язкова</span>
            <span *ngIf="formData.get('adress')?.errors?.['minlength']">Мінімальна кількість символів 3</span>
          </div>
  
        </div>
        <div class="notes m-b-20">
          <div class="notes-title m-b-10">
            <span> Notes </span>
          </div>
            <ion-textarea
            class="p-lr-8"
            formControlName="textarea"
            labelPlacement="stacked"
            [autoGrow]="true"
          >
          </ion-textarea>

        </div>
        <ion-button class="general" type="submit" [disabled]="formData.invalid || submited">save</ion-button>
      </ion-list>
    </form>
  </div>
</div>
</div>
