@import "./ionic-variables.scss";

:root {
  --background-color: linear-gradient(180deg, rgba(205,231,255,1) 0%, rgba(223,242,255,1) 100%);
  --white: #FFFFFF;
  --black: #041018;
  --silver: #EFEFEF;
  --blue: hsl(217, 96%, 68%);
  --yellow: #FAD300;
  --dark-gray: #404040;
  --red: red;
  --light-green: rgb(180, 255, 181);
  --light-red: rgb(255, 147, 147);
  --gray: gray;
}

