@import "./ionic-variables.scss";

:root {
  --white: #FFFFFF;
  --black: #041018;
  --silver: #EFEFEF;
  --blue: #333194;
  --yellow: #FAD300;
  --dark-gray: #404040;
  --red: red;
  --gray: gray;
}

