.ion-menu {
  padding: 10px;
  ion-item{
    border: none;
    ion-button{
      width: 100%;
      height: 40px;
    }
  }
  width: 155px;
  position: relative;
  z-index: 100;
  --ion-background-color: var(--white);
  background-color: var(--white);
  height: 100%;
  box-shadow: 1px 0px 2px 1px var(--white), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  ion-accordion-group {
    .menu-close-icon {
      color: var(--dark-gray);
      width: 100%;
      height: 25px;
    }
    .ion-accordion-first {
      &.icon-none {
        ion-item {
          --border-style: none .ion-accordion-toggle-icon {
            display: none;
          }
        }
      }
    }
    .ion-accordion-second {
      width: 100%;
    }
    .form-button {
      display: inline-block;
      text-align: start;
      background-color: var(--white);
      color: var(--dark-gray);
    }
    ion-accordion {
      .ion-padding {
        color: var(--dark-gray);
        width: 100%;
      }
      ion-item {
        border: none;
        --border-width: 0 0 0px 0;
        color: var(--dark-gray);
      }
    }
  }
}
