.ion-page {
  ion-header {
    height: 80px;
    ion-toolbar {
      ion-buttons {
        color: var(--black);
      }
      .row-box {
        .right {
          .user-container {
            ion-icon {
              color: var(--blue);
            }
            span {
              color: var(--black);
            }
          }
        }
        .left{
          .logo{
            max-width: 200px;
            height: auto;
            img{
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      --ion-background-color: var(--white);
      --min-height: 80px;
    }
  }
}
