<div *ngIf="counts$ | async; else loading">
  <!-- Кастомна легенда -->
  <div class="custom-legend">
    <div *ngFor="let item of chartData" class="legend-item">
      <span
        class="legend-color-box"
        [style.backgroundColor]="getColor(item.name)"
      ></span>
      {{ item.name }}: {{ item.value }}
    </div>
  </div>
  <ngx-charts-pie-chart
    [view]="[1000, 700]"
    [scheme]="colorScheme"
    [results]="chartData"
    [legend]="false"
    [explodeSlices]="false"
    [labels]="true"
    [doughnut]="false"
    [legendTitle]="legendTitle"
  >
  </ngx-charts-pie-chart>
</div>

<ng-template #loading>
  <p style="color: black">Loading...</p>
</ng-template>
