<form [formGroup]="form">
  <div class="container">
    <!-- Логотип -->
    <div class="logo-container m-b-25 d-flex justify-start align-center">
      <img [src]="logo" />
    </div>
    
    <!-- Заголовок та підзаголовок -->
    <div class="w-100 title-container">
      <div class="title">
        <span>{{ currentMode.title | translate }}</span>
      </div>
      <div class="subtitle m-t-5">
        <span>{{ currentMode.subtitle | translate }}</span>
      </div>
    </div>

    <!-- Вхідні поля для логіну та пароля -->
    <div class="inputs-wrapper w-100 m-t-30">
      
      <!-- Логін -->
      <div class="inputs d-flex flex-d-col">
        <div class="input-name"><span translate>auth.email</span></div>
        <div class="ion-input flex-d-col d-flex justify-center align-center">
          <ion-item class="p-l-16 d-flex align-center" lines="none">
            <ion-icon class="p-r-16" src="/assets/icons/general/email.svg"></ion-icon>
            <ion-input
              formControlName="email"
              [placeholder]="currentMode.placeholder | translate"
              type="email"
            ></ion-input>
          </ion-item>
          <div
            class="warning d-flex align-end justify-start"
            *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
            translate
          >
            other.errors.validation_email
          </div>
        </div>
      </div>

      <!-- Пароль -->
      <div class="inputs d-flex flex-d-col">
        <div class="input-name"><span>{{ currentMode.password | translate }}</span></div>
        <div class="ion-input flex-d-col d-flex justify-center align-center">
          <ion-item class="p-l-16 d-flex align-center" lines="none">
            <ion-icon class="p-r-16" src="/assets/icons/general/lock.svg"></ion-icon>
            <ion-input
              formControlName="password"
              [placeholder]="currentMode.password | translate"
              [type]="passwordShow ? 'text' : 'password'"
            ></ion-input>
            <ion-icon
              class="p-r-16"
              (click)="passwordShow = !passwordShow"
              [src]="passwordShow ? '/assets/icons/general/eye.svg' : '/assets/icons/general/eye-closed.svg'"
            ></ion-icon>
          </ion-item>
          <div
            class="warning d-flex align-end justify-start"
            *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
            translate
          >
            other.errors.validation_password
          </div>
        </div>
      </div>

      <!-- Кнопка для перенаправлення -->
      <div class="sign-up-button d-flex justify-center m-b-20">
        <ion-button
          class="general"
          (click)="login('/secure')"
          [disabled]="form.invalid || submitted || getError()"
          vibrate
        >
          {{ currentMode.button | translate }}
        </ion-button>
      </div>
    </div>
  </div>
</form>
